{% extends "index.html" %}
{%load static%}
{% block content %}
<div class='container' align="center">
    <h1><strong>Scraper</strong></h1><br>
    <h2>Enter a Movie/TV Show Name:</h2><br>
    <form method='POST'>
        {{form_dic1.as_p}}
        {% csrf_token %}
        <input type="submit" class=' btn btn-primary' value='Hit Me'>
        <br>
        <br>
        <img src='{{x}}' alt="Image not available">
        <h4>Summary of the movie is </h4><h3>{{y}}</h3><h4>and the rating is </h4><h3>{{z}}</h3>
    </form>
</div>
{% endblock%}